<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="17525fbc-a1a0-48eb-b5c3-04811d221c67" Publisher="CN=Japsnak" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ContosoCookbook</DisplayName>
    <PublisherDisplayName>Japsnak</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ContosoCookbook.App">
      <VisualElements DisplayName="ContosoCookbook" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ContosoCookbook" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>